<h3 class="page-title">Scenarios</h3>

<div class="main-content">
<table class="scenarios">
  <tbody>
    <tr class="scenario-item" ng-repeat="scenario in scenarios">
        <td>
            <strong>{{ scenario.id }}</strong>
        </td>
        <td>
            repeat <strong>{{ scenario.repeat }}</strong> time(s)
        </td>
        <td>
            every <strong>{{ scenario.every }}</strong> second(s)
        </td>
        <td>
            <a class="button button--small" href="#scenarios/{{ scenario.id }}/run">
              <i class="fa fa-play-circle"></i> run
            </a>
            <a class="button button--small button--cancel" href="#scenarios/{{ scenario.id }}/edit">
              <i class="fa fa-pencil"></i> edit
            </a>
            <a class="button button--small button--remove" href="#scenarios/{{ scenario.id }}/remove">
              <i class="fa fa-times"></i> remove
            </a>
        </td>
    </tr>
  </tbody>
</table>
<p ng-show="scenarios.length == 0">
    no scenario, <span ng-click="newScenario()" class="link">add one</span>.
</p>
</div>